{% extends "index" %}

{% block content %}

<section class="productcontent">
                <div class="content">
                    <img src="carlos-macedonio-CxuqRa20cP8-unsplash.jpg" alt="product image">
                    <div class="content-text">
                        <h1>Product name</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque labore enim itaque. Cupiditate est incidunt provident aliquid hic itaque adipisci ipsum similique? Exercitationem maiores aut eius dolorum quis ratione veritatis.</p>
                        <div class="price"><h3>price here</h3><a href="#" class="button">Buy Now</a></div>
                        
                        <h2>Specifications</h2>
                        <p>here more info</p>
                    </div>
                </div>
            </section>

{% endblock %}